<div class="row">
<div class="container">
<app-products></app-products>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Product Name</th>
      <th>Company Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor='let prod of products'>
      
      <td>{{prod.Product}}</td>
      <td>{{prod.Company}}</td>
      <td>{{prod.Price}}</td>
      <td>{{prod.Quantity}}</td>
    </tr>
    
  </tbody>
</table>

<button class="btn btn-info" (click)="addProduct()">Add Product</button>



</div>
</div>